
.nav{

    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}




.ul {

    list-style:none;

}

li{
    padding-left:15px;
}

.logo {

    width: 200px;
    height: 35px;

}